.menu {
    position: relative;
    padding: 16px 0;
    overflow-x: visible;
}
.menu::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    height: 1px;
    background: var(--small-background);
    transform: scaleY(0.5);
}
.header {
    color: var(--strong-text);
    padding: 0px 8px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.093px;
}

.item {
    padding: 8px;
    display: flex;
    user-select: none;
    background-color: var(--background);

    &:hover {
        cursor: pointer;
        background-color: var(--light-background);
    }
}
.item-img {
    border-radius: 50%;
    background-color: var(--small-background);
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 12px;
}
.item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    span {
        color: var(--strong-text);
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 21px;
        letter-spacing: 0.03px;

        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    svg {
        margin-left: 4px;
        width: 14px;
        height: 14px;
        color: hsl(186.76deg 84.3% 52.55%);
    }
    p {
        color: var(--text);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 15px;
        letter-spacing: 0.161px;

        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.item-info.loading {
    div,
    p {
        background-image: linear-gradient(to left, var(--strong-background), var(--small-background));
        background-size: 200%;
        animation: loading 1s linear infinite alternate;
        display: block;
        border-radius: 100px;
        height: 45%;
    }
    div {
        width: 70%;
    }
    p {
        width: 50%;
    }
}
@keyframes loading {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 100%;
    }
}
.button {
    display: flex;
    background: transparent;
    align-items: flex-start;
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;

    span {
        color: var(--primary);
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 18px;
        letter-spacing: 0.093px;
    }
}
