.content {
    padding-right: 114px;
    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    line-height: 28px;
    h3:hover,
    h4:hover {
        text-decoration: underline;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--text);
    }
    h4 {
        font-size: 1.4rem;
        color: var(--small-text);
        font-weight: 400;
        margin-left: 4px;
    }
}

.desc {
    position: relative;
    max-height: 84px;
    overflow: hidden;
    margin-bottom: 12px;

    &.toggle {
        padding-bottom: 53px;
        max-height: unset;
        .less-button {
            display: block;
        }
        .show-button {
            display: none;
        }
    }
}
.desc-content {
    font-size: 1.6rem;
    padding-right: 12px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: var(--small-text);

    span {
        display: inline-block;
        word-break: break-word;
        color: rgb(43, 93, 185);
        font-weight: 600;
        padding: 0 2px;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.follow-button {
    position: absolute;
    right: 16px;
    top: 16px;
}
.less-button,
.show-button {
    color: var(--light-text);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
    background: none;
    cursor: pointer;
    position: absolute;
}
.show-button {
    right: 0;
    bottom: 0px;
}
.less-button {
    display: none;
    left: 4px;
    bottom: 16px;
}

.tagWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    svg {
        margin-right: 4px;
        width: 18px;
        height: 18px;
        color: var(--text);
    }
    span {
        line-height: 21px;
        letter-spacing: 0.03px;
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--small-text);
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
