.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--text);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 5px;
    user-select: none;

    span {
        color: var(--small-text);
        font-weight: 600;
        font-size: 1.2rem;
        cursor: pointer;
    }
    span:hover {
        text-decoration: underline;
    }
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.link {
    color: var(--small-text);
    font-weight: 600;
    font-size: 1.2rem;
    width: fit-content;
    user-select: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.button {
    margin-top: 21px;
    height: 44px;
}
.button.disabled {
    background-color: var(--light-background);
    border-color: var(--small-background);
    color: #999;
    pointer-events: none;
}

.error-container {
    margin-top: 12px;
    background-color: rgb(255, 201, 201);
    color: rgb(157, 0, 0);
    border-radius: 8px;
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}
.loading {
    width: 2.2rem;
    height: 2.2rem;
    animation: rotate360 1s linear infinite;
}
@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}
