.wrapper {
    flex-grow: 1;
    border-bottom: 1px solid var(--small-background);
    border-top: 1px solid var(--small-background);
    overflow: hidden auto;
}
.content {
    padding: 24px 32px;
}

// ============ // Comment Item // ============ //
.item {
    display: flex;
    margin-bottom: 16px;
    position: relative;
}
.avatar {
    img {
        border-radius: 50%;
        height: 40px;
        margin-right: 12px;
        object-fit: cover;
        width: 40px;
    }
    &:hover + .item-content > a {
        text-decoration: underline;
    }
}
.item-content {
    flex-grow: 1;
    padding-right: 18px;
    a[href],
    a {
        color: var(--strong-text);
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 25px;
    }
    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    p {
        color: var(--light-text);
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 6px;
        white-space: pre-line;
        word-break: break-word;
    }
}
.extra-content {
    span {
        font-size: 1.4rem;
        color: var(--small-text);
    }
    span:nth-child(2) {
        margin-left: 24px;
        cursor: pointer;
    }
}
.show-more {
    position: absolute;
    background-color: transparent;
    top: -4px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.2s;
    &.visible {
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
    }
    svg {
        color: var(--light-text);
        width: 21px;
        height: 21px;
    }
}
// ============ // Comment Bar // ============ //
.search {
    display: flex;
    align-items: center;
    padding: 21px 30px;
}
.text-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    border: 1px solid transparent;
    position: relative;
    border-radius: 8px;
    padding: 10px 9px;

    &:focus-within {
        border-color: var(--border-color);
    }
    textarea {
        outline: none;
        border: none;
        resize: none;
        background-color: transparent;
        color: var(--text);
        overflow-y: hidden;
        font-size: 1.4rem;
        width: calc(100% - 40px);
    }
    p {
        margin-top: 8px;
        color: var(--small-text);
        font-size: 1.6rem;
    }
    p.maxed {
        color: var(--primary);
    }
}
.emote {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    bottom: 3px;
    right: 8px;
    height: 32px;
    width: 32px;
    transition: background 0.2s;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        background-color: var(--small-background);
    }
    svg {
        fill: var(--text);
        width: 22px;
        height: 22px;
    }
}
.submit {
    &.active {
        color: var(--primary);
        &:hover {
            cursor: pointer;
        }
    }
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--small-text);
    margin-left: 4px;
    width: 48px;
}
.heart {
    background-color: transparent;
    color: var(--small-text);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    > button {
        width: 40px;
        height: 40px;
        background-color: transparent !important;
        > svg {
            height: 20px;
            width: 20px;
        }
    }
    &.like {
        color: var(--primary);
    }
    span {
        font-size: 1.6rem;
        line-height: 17px;
        user-select: none;
    }
}
