.container {
    width: 220px;
    background-color: var(--panel);
    border-radius: 8px;
    padding: 6px 0;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
}
.shadow {
    box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
    border-radius: 8px;
}
.list {
    background-color: var(--panel);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    list-style: none;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--line-color);
        border-radius: 10px;
    }

    div {
        padding: 4px 12px;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--text);
    }
    p {
        color: var(--strong-text);
    }
}
.item {
    font-size: 1.5rem;
    color: var(--strong-text);
    padding: 6px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    svg {
        width: 20px;
        height: 20px;
        padding-right: 4px;
    }
}
.item:hover {
    background-color: var(--line-color);
    cursor: pointer;
}
