.container {
    padding: 16px 0 0 8px;
    position: relative;
}
.container::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    height: 1px;
    background: var(--small-background);
    transform: scaleY(0.5);
}
.line {
    margin-bottom: 8px;
    a {
        color: var(--text);
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 0.161px;
        display: inline-block;
        margin-right: 6px;
        margin-top: 5px;
    }
    a:visited {
        color: var(--text);
    }
    a:hover {
        text-decoration: underline;
    }
}
.span {
    color: var(--text);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.161px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}
