.container {
    padding: 16px 8px;
    position: relative;
}
.container::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    height: 1px;
    background: var(--small-background);
    transform: scaleY(0.5);
}

.header {
    color: var(--light-text);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 16px;
}

.item {
    margin-bottom: 16px;
    margin-right: 8px;
    background-color: var(--panel);
    border-radius: 100px;
    max-width: 100%;
    border: 1px solid var(--small-background);
    padding: 3px 10px;
    display: inline-flex;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    svg {
        color: var(--text);
        margin-right: 4px;
    }
    span {
        flex: 1;
        display: block;
        color: var(--text);
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
        white-space: nowrap;
    }
}
