.wrapper {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 624px;
    padding-right: 92px;
}
// ======/ share-info /====== //
.share-info {
    display: flex;
    align-items: center;
}
.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    overflow: hidden;
    > div {
        width: inherit;
        height: inherit;
    }
}
.share-info__container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 20px;
    flex-direction: column;
    overflow: visible;
    > .button {
        font-weight: 600;
        position: relative;
        width: 208px;
        margin-top: 16px;
    }
    svg {
        color: #20d5ec;
        width: 2rem;
        height: 2rem;
        margin-left: 4px;
    }
    > span {
        width: 100%;
        height: 32px;
        border-radius: 8px;
        & + span {
            margin-top: 20px;
            width: 80%;
        }
    }
    > h2,
    > h3 {
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
    }
    > h2 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.8rem;
        letter-spacing: 0;
        margin-bottom: 4px;
        word-break: break-word;
        color: var(--text);
    }
    > h3 {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: -0.028px;
        height: 25px;
        white-space: nowrap;
        color: var(--small-text);
    }
}
// ======/ count-info /====== //

.count-info {
    margin-top: 22px;
    display: flex;
    align-items: center;
}
.count-info__container {
    margin-right: 20px;
    line-height: 24px;
    letter-spacing: -0.028px;
    > strong {
        color: var(--text);
        font-weight: 700;
        font-size: 1.8rem;
    }
    > span {
        color: var(--small-text);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 21px;
        letter-spacing: 0.03px;
        display: inline-block;
        margin-left: 6px;
    }
}
.share-desc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    > span {
        text-align: left;
        color: var(--text);
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.03px;
        white-space: pre-line;
    }
}
.share-link {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5px;
    color: var(--strong-text);
    span {
        padding-left: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
.share-button,
.show-more {
    position: absolute;
    top: 11px;
    cursor: pointer;
    right: 52px;
    color: var(--text);
}
.show-more {
    right: 12px;
}
