.video-controller {
    width: 100%;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    cursor: initial;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease 0s;
    opacity: 0;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    &.focus {
        opacity: 1;
    }
    .timer {
        display: inline-block;
        padding-left: 8px;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 16px;
        color: #fff;
    }
}
.slider-container {
    flex: 1;
    height: 16px;
    position: relative;
    &.focusController {
        .slider {
            height: 6px;
        }
        .slider::-webkit-slider-thumb {
            width: 14px;
            height: 14px;
        }
    }
    .slider {
        -webkit-appearance: none;
        background-image: linear-gradient(to right, #fff 40%, rgba(255, 255, 255, 0.2) 0%);

        width: 100%;
        height: 4px;
        border-radius: 50px;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
}
