.container {
    width: 400px;
    height: 194px;
    padding: 32px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: var(--panel);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
}
.header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.24px;
    padding: 0px 24px;
    width: 100%;
    text-align: center;
    color: var(--text);
}

.content {
    display: flex;
    padding: 0px 16px;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
    > button {
        height: 48px;
        flex: 1;
    }
}
