// Content
.content {
    flex: 1 1 0%;
    overflow: auto;
    padding: 0 50px;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--small-background);
        border-radius: 10px;
    }

    > div {
        background-color: transparent;
        color: var(--text);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -8px;
    }
}
.content-header {
    color: var(--text);
    font-size: 3.2rem;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}
.content-item {
    border: 1px solid var(--line-color);
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    position: relative;
    margin-bottom: 16px;
    word-break: keep-all;
    white-space: nowrap;
    background: var(--panel);
    cursor: pointer;
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    svg {
        left: 12px;
        font-size: 20px;
        position: absolute;
        color: var(--text);
    }
    span {
        font-weight: 600;
        color: var(--text);
        font-size: 1.5rem;
    }
}
.left-button {
    top: 24px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    color: var(--text);
    left: 24px;
    svg {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        right: 3px;
        top: 5px;
    }
}
