.license {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    border-bottom: 1px solid var(--line-color);
    padding: 16px 30px;
    p {
        color: #999;
        font-size: 1.2rem;
        max-width: 100%;
        width: 375px;
        text-align: center;
    }
    a {
        color: var(--text);
        font-weight: 600;
        padding: 0 4px;
    }
    a:hover {
        text-decoration: underline;
    }
}
