// Tippy
.Tippy {
    width: 300px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
    background-color: var(--panel);
    padding: 16px;
    border-radius: 8px;
}
.Tippy-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}
.Tippy-content {
    padding: 8px 0 12px;
    span {
        color: var(--strong-text);
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 2.8rem;
        letter-spacing: 0.03px;
    }
    svg {
        margin-left: 4px;
        width: 14px;
        height: 14px;
        color: hsl(186.76deg 84.3% 52.55%);
    }
    p {
        color: var(--text);
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.161px;

        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.Tippy-footer {
    display: flex;
    align-items: center;
    span {
        font-size: 1.5rem;
        color: var(--text);
        strong {
            padding-right: 4px;
            color: var(--strong-text);
        }
    }
    span + span {
        padding-left: 12px;
    }
}
