.container {
    padding: 20px 8px 24px;
    position: relative;
}
.container::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0px;
    height: 1px;
    background: var(--small-background);
    transform: scaleY(0.5);
}
.span {
    color: var(--light-text);
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
}
.button {
    margin-top: 20px;
    width: 100%;
}
