.list {
    width: 220px;
    background-color: var(--panel);
    border-radius: 8px;
    padding: 6px 0;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
    background-color: var(--panel);
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow-y: auto;
    list-style: none;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--line-color);
        border-radius: 10px;
    }
}
.item {
    padding: 11px 16px;
    display: flex;
    align-items: center;
    user-select: none;
    span {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--text);
    }
    svg {
        margin-right: 12px;
        width: 26px;
        height: 26px;
    }
    &:hover {
        background-color: var(--light-background);
        cursor: pointer;
    }
}
.toggle-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--text);
    &:hover {
        background-color: var(--light-background);
        cursor: pointer;
    }
}
