.overlay {
    z-index: 9999;
    position: fixed;
    top: 0vw;
    left: 0vw;

    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #010101;
    width: 100vw;
    height: 100vh;
}
